<html>
   <body>
      <form action = "http://localhost:9211/" method = "post">
	<br/><br/><br/><center>
         <select name = "nm">
            <option value = "Select Cryptocurrency" selected>Select Cryptocurrency </option>
            <option value = "ETH">ETH</option>
            <option value = "LTC">LTC</option>
            <option value = "BTC">BTC</option>
            <option value = "BCH">BCH</option>
            <option value = "XRP">XRP</option>
         </select>
         <p><input type = "submit" value = "Check Trading Price" /></p>
         <p><center>Price for  {{ coin }} Koinex : {{ price_koinex }} BuyUcoin : {{price_buyucoin}}</p><br/><br/><br/>
         <label><center> Set Bid  
         <p><input type = "text" name = "mn" /></p>
         <label><center> Mobile Number  
         <p><input type = "text" name = "mn" /></p
         <p><input type = "submit" value = "Notify Me" /></p>
      </form> 
   </body>
</html>
