<html>
   <body>
      <form action = "http://localhost:9211/" method = "post">
	<br/><br/><br/><label><center>Select Cryptocurrency  
	<p><input list="crypto_currencies" name="nm" /></label><center><p>
		<datalist id="crypto_currencies">
	 	  <option value="ETH">
	 	  <option value="LTC">
	 	  <option value="BTC">
	 	  <option value="BCH">
	  	  <option value="XRP">
		  <option value="REQ">
         </datalist>
         <p><input type = "submit" value = "Check Trading Price" /></p>
         <p>Price for  {{ coin }} Koinex : {{ price_koinex }} BuyUcoin : {{price_buyucoin}}</p><br/><br/><br/>
         <label><center> Set Bid  
         <p><input type = "text" name = "mn" /></p>
         <label><center> Mobile Number  
         <p><input type = "text" name = "mn" /></p
         <p><input type = "submit" value = "Notify Me" /></p>
      </form> 
   </body>
</html>
